
  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input
        type="text"
        class="new-todo"
        placeholder="Ajouter une tache"
        v-model="newTodo"
        @keyup.enter="addTodo"
      />
    </header>
    <main class="main">
      <input
        type="checkbox"
        class="toggle-all"
        v-model="allDone"
        name="all-done"
        id="toggle-all"
      />
      <label for="toggle-all">Selectionner tous</label>
      <transition-group tag="ul" name="list" class="todo-list" appear>
        <li
          class="todo"
          v-for="(todo, idx) in filteredTodo"
          :key="idx"
          :class="{ completed: todo.completed, editing: todo === editing }"
        >
          <div class="view">
            <input
              type="checkbox"
              name="completed"
              :id="'completed' + idx"
              v-model="todo.completed"
              class="toggle"
            />
            <label :for="'completed' + idx" @dblclick="editTodo(todo)">
              {{ todo.name }}</label
            >
            <button class="destroy" @click="removeTodo(todo)"></button>
          </div>
          <input type="text" v-model="todo.name" @keyup.enter="doneEdit" @blur="doneEdit" @keyup.esc="cancelEdit" v-focus="todo===editing" class="edit" />
        </li>
      </transition-group>
    </main>
    <transition name="fade" appear>
      <footer class="footer" v-show="todos.length > 0">
        <div class="todo-count">
          <strong>{{ remaining }}</strong> tache{{ remaining > 1 ? 's' : '' }} à
          faire
        </div>
        <ul class="filters">
          <li>
            <a
              href="#"
              :class="{ selected: filter === 'all' }"
              @click="filter = 'all'"
              >Toutes</a
            >
          </li>
          <li>
            <a
              href="#"
              :class="{ selected: filter === 'to do' }"
              @click="filter = 'to do'"
              >à faire</a
            >
          </li>
          <li>
            <a
              href="#"
              :class="{ selected: filter === 'done' }"
              @click="filter = 'done'"
              >Faite</a
            >
          </li>
        </ul>
        <button class="clear-completed" @click="removeDoneTodo">
          Supprimer les taches terminer
        </button>
      </footer>
    </transition>
  </section>
